<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fuzamei.dubboprovider2.mapper.UserMapper">

    <update id="updateUsernameById" parameterType="java.lang.Long">
      update user set name = 'jack' where id = #{id}
    </update>

</mapper>